body{
  font-family: Arial, sans-serif;
  background-color: hsl(219, 51%, 63%);

}

h1 {
  color: hsl(39, 99%, 49%);
}

form {
  background-color: white;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsl(0, 57%, 61%, 0.5);
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 26px;
  border: 2px solid hsl(0, 0%, 0%, 0.8);
  margin-bottom: 15px;
  border-radius: 4px;


}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background-color: hsl(59, 100%, 50%);
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: red;

}

button:hover {
  background-color: hsl(229, 82%, 67%);
  text-decoration: underline;
}

#result {
  font-size: 1.75em;
  font-weight: bold;
}
